@import './variables.css';


.switches{
    width: 40%;
    min-width: 300px;
    max-width: 430px;
    margin: 0 auto;
    background: #fff;
    border-radius: 15px;
    padding: 10px;

    display: flex;
    flex-direction: column;
  	flex-wrap: wrap;
  	justify-content: space-between;
  	align-items: center;
  	align-content: stretch;
}
