@import './variables.css';

.switches {
    composes: small_rounded_container from './shared-components.css';

}

.hidden {
    display: none;
}

.name {
    composes: uppercase_name from './shared-components.css';
}
