doctype
html

head
    title React Server Side Rendering Example
body
    div(id='layout')
    script(src='scripts/react.js')
    script(src='scripts/react-dom.js')
    script(src='scripts/dist/main.bundle.js')