doctype
html

head
    title HomeHUD
body
    div(id='page' style='height:100%')
    script(src='scripts/react.js')
    script(src='scripts/react-dom.js')
    script(src='scripts/jquery.js')
    script(src='scripts/lib/jquery.signalR.js')
    script(src='scripts/dist/client.bundle.js')
