@import './variables.css';
@import './shared-components.css';

.container {
    @extend small_rounded_container;
    margin: 2.5em auto;
    padding-top: 20px;
}

.button {
    @mixin button;
}

.field {
    @extend small_container;
}


.inputElement {
    @mixin boxShadow inset;

    margin: 0;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 10px 8px 10px;
    font-size: 1.1em;
    letter-spacing: 0.03em;
    text-align: center;

    &.filled {
        border: 1px solid $color_accent_primary;
    }

    .errored & {
        border: 1px solid $error_color;
        margin: 0;
    }
}

.bar {
    display: none;
}

.label {
    @extend uppercase_name;
    @mixin textShadow;

    font-size: .8em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 28px 8px 0 8px;
    top: 0;
    color: $color_text_shadow;
    transition-property: font-size, color, margin, font-weight;
    .errored & {
        color: $color_text_shadow;
    }

    .inputElement:focus:not([disabled]):not([readonly]) ~ &:not(.fixed):not(.error),
    .inputElement.filled ~ &:not(.fixed):not(.error),
    .inputElement[type='date'] ~ &:not(.fixed):not(.error),
    .inputElement[type='time'] ~ &:not(.fixed):not(.error) {
        color: $color_text_black;
        margin: 0 5px;
        font-weight: bolder;
        font-size: .85em;
    }
}

.error {
    composes: label;
    color: $error_color;

    .errored & {
        color: $error_color;
    }
}

._error {
    @extend small_container;
    composes: label;
    color: $error_color;
    font-size: 1em;
    text-align: center;
    margin: 8px auto;
}
