@import './variables.css';
@import './shared-components.css';

.container {
    @extend small_rounded_container;
}

.button {
    @mixin button;
}

.field {
    border: 3px solid #333;
    @extend small_container_item_spacing;
}


.input {
    @mixin boxShadow inset;
    width: 100%;
    padding: 14px 10px 8px 10px;
    border: none;
    font-size: 1.1em;
    text-align: center;
}

.label {
    @extend uppercase_name;
    @mixin textShadow;

    font-size: .7em;
    letter-spacing: 1px;
    margin-bottom: -5px;
    margin-top: 10px;
}

.field_error {
    composes: label;

    color: $error_color;
}

.form_error {
    @extend small_container_item_spacing;
    composes: label;

    color: $error_color;
    font-size: 0.85em;
    text-align: center;
    margin: 0;
}