@import './variables.css';
@import './shared-components.css';

.container {
    width: 100%;

    background: $header_color;
    color: $header_text_color;
    padding: 1em 1.25em;
    border-bottom: 3px solid $header_border_color;
}

.logo {
    @mixin hugeShadowOutline;
    @mixin accentFont;
    font-size: 3em;
    color: $header_text_color;
}