@custom-media --medium-viewport (min-width: 768px) and (max-width: 992px);
@custom-media --phone (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)

$base_font_size: 12px;
$mobile_font_size: 20px;

$content_background: url('../media/background.jpg');

$nav_height: 5em;

$white: #efefef;
$default_border: #bcbcbc;

$color_accent_green: #BBFF33;
$color_accent_yellow: #FFC300;
$color_accent_darkYellow: #93761A;
$color_accent_darkBrown: #3E3A2D;
$color_accent_lightBrown: #8A8362;
$color_accent_lime: #DAF7A6;
$color_accent_orange: #FF5733;
$color_accent_rose: #C70039;
$color_accent_blue: #1F3E6F;
$color_accent_black: #1B1B1B;

$color_background_purple: #900C3F;
$color_background_plum: #581845;
$color_background_2: #acacac;
$color_background_3: #c3c3c3;
$color_background_4: #f1f1f1;
$color_text_dark: #ccc;
$color_text_black: #222;

$body_color: #fff;
$content_color: #fff;
$error_color: #C70039;

$focus_outline_color: $color_accent_blue;

$header_text_color: #fff;
$header_color: #fff;
$header_border_color: $color_text_black;

$nav_color: $color_background_4;
$nav_text_color: $color_text_black;
$nav_border_color: $color_text_dark;

$nav_active_color: #081017;
$nav_active_text_color: $white;

$nav_hover_color: $color_background_3;
$nav_hover_text_color: inherit;
$nav_active_hover_color: $color_text_black;
$nav_active_hover_text_color: $white;

$default_button_color: #fff;
$default_button_text_color: $color_text_black;
$default_button_active_color: $color_background_3;
$default_button_hover_color: $white;

$lightSwitchOn_color: $color_accent_yellow;
$lightSwitchingOn_color: $color_accent_darkYellow;
$lightSwitchOff_color: $color_accent_darkBrown;
$lightSwitchingOff_color: $color_accent_lightBrown;

@define-mixin softerEdges {
    border-radius: 2px;
}

@define-mixin accentFont {
    font-family: 'Anton', sans-serif;
}

@define-mixin hugeShadow {
    color: rgba(255,255,255,1);
    text-overflow: clip;
    text-shadow: longTextShadow(3, 10, #333);
}

@define-mixin hugeShadowOutline {
    color: rgba(255,255,255,1);
    text-overflow: clip;
    text-shadow:
        -1px -1px 0 $color_text_black,
        1px -1px 0 $color_text_black,
        -1px 1px 0 $color_text_black,
        1px 1px 0 $color_text_black,
        longTextShadow(3, 10, $color_text_black);
}

@define-mixin textShadow {
    text-shadow: 0 1px 3px rgba(150, 150, 150, 0.5);
}

@define-mixin boxShadow $mode {
    box-shadow: $(mode) rgba(0, 0, 0, 0.117647) 0 1px 6px, $(mode) rgba(0, 0, 0, 0.117647) 0 1px 4px;
}

@define-mixin square $size {
    width: $(size);
    height: $(size);
}