@import './variables.css';

.container {
	background: $header_color;
	color: #333;
	padding: 1em 1.25em;
    border-bottom: 3px solid $header_border_color;
}

.logo {
	font-size: 2em;
	color: $logo_color;
}