@import './variables.css';

.active, .switching_on, .switching_off {

}

.light_switch {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;

    & .slider {
        right: auto;
        left: 0;
        background-color: $color_accent_dark;
    }

    &.active .slider {
        right: 0;
        left: auto;
        background-color: $color_accent_yellow;
    }

  & .light {
      background-color: $color_accent_dark;

  }
    &.switching_on .light {
        background-color: $color_accent_orange;
    }

    &.switching_off .light {
        background-color: $color_accent_lime;
    }

    &.active .light {
        background-color: $color_accent_yellow;
    }
}

.switcher {
  position: relative;
  width: 10em;
  height: 5em;
  margin: 1em;
  background: #efefef;
}

.slider {
  width: 50%;
    padding: 0;
    margin: 0.2em;
    border: 1px solid #white;
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  transition: .4s;

  outline-color: transparent;

}

.light {
  height: 50px;
  width: 50px;
  border-radius: 20px;
    padding: 0;
    margin: 1em;
    transition: .4s;
}
