@import './variables.css';

.hover {
    transition: 0.3s;

    &:hover {
    background-color: $nav_hover_color;
}
}

.active{
    background-color: $nav_active_color;

    &:hover {
    background-color: $nav_active_hover_color;
}
}

.tab {
    composes: hover;

    width: 100%;
    min-width: 120px;
}

.link {
    width: 100%;
    height: 100%;
    color: $nav_text_color;
    text-align: center;
    padding: 0.8em 1.5em;
    text-decoration: none;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: stretch;

    &:hover {
        background-color: transparent;
    }
}

.name {
  max-height: calc(2*$nav_tab_line_height);
  text-transform: uppercase;
  font-size: 1.3em;
  line-height: $nav_tab_line_height;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}
