$color_accent_1: #93ff33;
$color_background_1: #efefef;
$color_background_2: #acacac;
$color_background_3: #c3c3c3;

$logo_color: $color_accent_1;
$header_color: $color_background_3;
$body_color: $color_background_1;
$content_color: $color_background_2;