[Unit]
Description=HUD Service Manager
After=multi-user.target

[Service]
Type=idle
Restart=always
RestartSec=3
ExecStart=/usr/bin/python /home/pi/manager/hq/manager.py

[Install]
WantedBy=multi-user.target
